{% assign manifest_url = include.manifest %}
{% assign viewer_id = include.id | default: "mirador-viewer" %}
{% assign height = include.height | default: "600px" %}

<div id="{{ viewer_id }}" style="height: {{ height }}; width: 100%; position: relative;"></div>

<script src="https://unpkg.com/mirador@latest/dist/mirador.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/mirador@latest/dist/mirador.min.css" />

<script>
  Mirador.viewer({
    id: "{{ viewer_id }}",
    manifests: {
      "{{ manifest_url }}": {}
    },
    windows: [
      {
        manifestId: "{{ manifest_url }}"
      }
    ],
    workspace: {
      showZoomControls: true
    },
    workspaceControlPanel: {
      enabled: false
    }
  });
</script>